[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=kutegram-quick
Exec=/opt/kutegram-quick/bin/kutegram-quick
Icon=kutegram-quick
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
